type backuptool, domain, coredomain;

permissive backuptool;

neverallow {
    domain
    -recovery
    -update_engine
} backuptool:process transition;

userdebug_or_eng(`
    permissive backuptool;
')
