# Custom legal URL
system_internal_prop(legal_url_prop)

# Custom version
system_internal_prop(custom_version_prop)

# Recovery update
system_internal_prop(recovery_update_prop)
