allow system_server storage_stub_file:dir getattr;

# Allow LineageHW (running as system server) to access LiveDisplay tuneables
allow system_server sysfs_livedisplay_tuneable:file rw_file_perms;

# Allow adb related properties to be set
set_prop(system_server, adbtcp_prop)

# Use HALs
hal_client_domain(system_server, hal_lineage_livedisplay)
hal_client_domain(system_server, hal_lineage_touch)
hal_client_domain(system_server, hal_lineage_trust)
