r_dir_file(update_engine, mnt_user_file)
r_dir_file(update_engine, storage_file)

allow update_engine labeledfs:filesystem { mount unmount };

allow update_engine otapreopt_chroot_exec:file rx_file_perms;

allow update_engine self:process setexec;
domain_trans(update_engine, otapreopt_chroot_exec, backuptool)
