# HwBinder IPC from client to server
binder_call(hal_lineage_camera_motor_client, hal_lineage_camera_motor_server)

hal_attribute_hwservice(hal_lineage_camera_motor, hal_lineage_camera_motor_hwservice)
