# HwBinder IPC from client to server
binder_call(hal_lineage_touch_client, hal_lineage_touch_server)

hal_attribute_hwservice(hal_lineage_touch, hal_lineage_touch_hwservice)
